<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}

    <hr>
    &copy; Dave Hulbert

    <a href="https://github.com/dave1010/til/blob/main/{{ page.inputPath }}">Edit this page on GitHub</a>

  </body>
</html>
