<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
        <h1><a href="/">Dave Hulbert's Today I Learned (TIL)</a></h1>
    </header>

    <main>
        <hr>
        <section>
            {{ content | safe }}
        </section>

        <hr>

        <footer>
            <p>
                &copy; Dave Hulbert<br> 

                {%- if page.inputPath != "./index.md" -%}
                    <a href="/">Home</a>
                    |
                    <a href="https://github.com/dave1010/til/blob/main/{{ page.inputPath }}" target="_blank">Edit this page on GitHub</a>
                {%- else -%}
                    <a href="https://github.com/dave1010/til" target="_blank">View on GitHub</a>
                    |
                    <a href="https://github.com/dave1010/til/new/main" target="_blank">New TIL</a>
                {%- endif -%}
                </p>
        </footer>
    </main>
  </body>
</html>
